<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Blog de lux</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Creative Agency Bootstrap Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="theme-name" content="airspace">
  <meta name="generator" content="Themefisher Airspace Template v1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />


  <!-- bootstrap.min css -->

  <link rel="stylesheet" href={{asset("plugins/bootstrap/bootstrap.min.css")}}>
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href={{asset("plugins/Ionicons/css/ionicons.min.css")}}>
  <!-- animate.css -->
  <link rel="stylesheet" href={{asset("plugins/animate-css/animate.css")}}>
  <!-- Magnify Popup -->
  <link rel="stylesheet" href={{asset("plugins/magnific-popup/magnific-popup.css")}}>
  <!-- Slick CSS -->
  <link rel="stylesheet" href={{asset("plugins/slick/slick.css")}}>
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href={{asset("css/style.css")}}>

</head>
<body>
    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src={{asset("plugins/jquery/jquery.min.js")}}></script>
    <!-- Bootstrap 3.1 -->
    <script src={{asset("plugins/bootstrap/bootstrap.min.js")}}></script>
    <!-- slick Carousel -->
    <script src={{asset("plugins/slick/slick.min.js")}}></script>
    <script src={{asset("plugins/magnific-popup/jquery.magnific-popup.min.js")}}></script>
    <!-- filter -->
    <script src={{asset("plugins/shuffle/shuffle.min.js")}}></script>
    <script src={{asset("plugins/SyoTimer/jquery.syotimer.min.js")}}></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src={{asset("plugins/google-map/map.js")}}></script>

    <script src={{asset("js/script.js")}}></script>

    </body>