{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
     <h1>liste des articles</h1>

         <a href="{{ path('app_article_new') }}">Create new</a>




        <div class="page-wrapper">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="post">
  <div class="post-media post-thumb">
    <a href="blog-single.html">
      <img src="images/blog/blog-post-1.jpg" alt="">
    </a>
  </div>
   {% for article in articles %}
  <h3 class="post-title"><a href="blog-single.html">{{ article.titre }}</a></h3>
  <div class="post-meta">
    <ul>
      <li>
        <i class="ion-calendar"></i> {{ article.date ? article.date|date('d-m-Y') : '' }}
      </li>
      <li>
        <i class="ion-android-people"></i> POSTED BY {{article.user}}
      </li>
      <li>
        <a href="blog-grid.html"><i class="ion-pricetags"></i> {{ article.categorie }}</a>
      </li>

    </ul>
  </div>
  <div class="post-content">
    <p>{{ article.contenu }}</p>
    <a class="btn btn-main" href="{{ path('app_article_show', {'id': article.id}) }}">Continue Reading</a>
    <a class="btn btn-main" href="{{ path('app_showapi', {'id': article.id}) }}">API</a>
    {% if is_granted('POST_EDIT', article)%}
    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
    {% endif %}
  </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





    


{% endblock %}


